@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  /* vh means view port */
  min-height: 100vh;
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(10, 142, 181, 1) 50%
  );
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb {
  background: #555;
}
